* {
	margin: 0;
	padding: 0;
}
/* 
/* Default Design */
.frontPageDiv {

	/* To make all elements center */
	display: flex;
	justify-content: center;
	

	/* Default Styling */

	background-color: #282c34;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 50px; 
    font-family: Times;
    font-size: calc(10px + 2vmin);
    color: white; 
}
.mainTitle {
	font-size:6vw;
}
.subTitle {
	font-size:2vw;
}

body {
	font-size: 16px;
	background-color: white;
	font-family: 'Times New Roman', Times, serif;
  }
.logo-container {
    position: absolute;
    top: 0;
    padding-left: 1vw;
}
.logo-image {
    width: auto;
    height: 7vw;
}
.thumbs {
    height: 60px;
  }
  
/* Media query for screens with a width of 600px or less */
@media (max-width: 600px) {
body {
	font-size: 14px;
}
.frontPageDiv {
	background-image: url('/public/images/etuSivuMobile.jpg');
	padding-left: 10px;
}
.mainTitle {
	font-size:8vw;
}
.subTitle {
	font-size:4vw;
}
.logo-image {
    width: auto;
    height: 20vw;
}
.thumbs {
	display: none;
  }
}


/* Media query for screens with a width of 900px or less */
@media (min-width: 601px) and (max-width: 900px) {
body {
	font-size: 12px;
}
.frontPageDiv { 
	background-image: url('/public/images/etuSivuTablet.jpg');
	padding-left: 30px;
}
.mainTitle {
	font-size:8vw;
}
.subTitle {
	font-size:4vw;
}
}

/* Media query for screens with a width of 1200px or less */
@media (min-width: 901px) {
body {
	font-size: 10px;
}
.frontPageDiv { 
	background-image: url('/public/images/etuSivu.jpg');
	padding-left: 50px;
}
.mainTitle {
	font-size:6vw;
}
.subTitle {
	font-size:2vw;
}
}

.social-container {
    padding: 25px;
    position: absolute;
    top: 0;
    right: 0;
  }
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }
  a.facebook {
    color: white;
  }
  a.instagram {
    color: white;
  }

  .matkat {
    background-image: url('/public/images/gomeranBunkkerit.jpg');
    background-attachment: fixed;
    background-size: cover;
  }
  .destLinks {
    font-family: Times;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url('/public/images/tausta.jpg');
    background-color: #33b5e5;
    padding: 15px;
    color: black;
    text-align: center;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .greenText {
    color: #99cc00;
    font-family:'Lucida Sans Regular';
    font-weight: bold;
  }
  .containerPro {
    margin-top: 50px;
	font-family: Times;
  }
  .matkaHeader {
	font-size: 50px;
	font-weight: bold;
  }
  .proHeader {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 40px;
  }

  .footer-image {
    background-image: url('/public/images/tomminDraivi.jpg');
    background-size: 100% 100%;
    filter: blue(50%);
    height: 500px;
  }
  .footer {
    font-family: Times;
    color: white;
    text-align: center;
    padding-top: 20px;
  }
  .footerText {
    padding-top: 130px;
  }

.headingPanel {
    font-family: Times;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: -0.05rem;
    text-align: center
  }
  .headingMatka {
    font-family: Times;
    font-size: 2.3rem;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: -0.05rem;
    text-align: left
  }
  .matkaTeksti {
    font-family: Arial;
    font-weight: normal;
    font-size: 1.1rem;
  }
  .carouselBg {
    margin-top: 10px;
    background-color:#ecf2f9;
    margin-bottom: 10px;
  }